:root {
  --color-brand: rgb(95, 158, 160);
  --color-brand-light-1: rgb(213, 229, 229);
  --color-brand-light-2: rgb(226, 237, 237);
  --color-brand-feint: rgb(240, 246, 246);

  --transition-duration: 300ms;
  --timing-function: ease-out
}

body {
  max-width: 70rem;
  margin: 2rem auto;
  background-color: var(--color-brand-feint);
}

body * {
  font-family: sans-serif;
}

main {
  padding: 0 12px;
}

@media screen and (min-width: 576px) {
  main {
    padding-left: 24px;
    padding-right: 24px;
  }
}

h1,
h2 {
  color: var(--color-brand);
  margin-top: 0;
  margin-bottom: 24px;
}

h1 {
  text-align: center;
}

.image-wrapper {
  border: 3px solid var(--color-brand-light-2);
  background-color: white;
  border-radius: 25px;
  margin-bottom: 24px;
  padding: 24px;
  position: sticky;
  top: 0;
}

.image-wrapper.active {
  border-color: var(--color-brand);
}

.grid {
  background-color: var(--color-brand-light-2);
  border-radius: 25px;
  font-size: 1rem;
  padding-top: 77px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 16.5rem);
  justify-content: center;
  gap: 24px;
}

.filter {
  font-size: 1.5rem;
  border: 3px solid var(--color-brand-light-1);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transition: border-color var(--transition-duration) var(--timing-function);
}

.filter.active {
  border-color: var(--color-brand);
  border-width: 3px;
}

.filter.active .filter__slider {
  background-color: var(--color-brand-light-1);
}

.filter__label {
  display: block;
}

.filter__toggle:hover {
  background-color: var(--color-brand);
  color: wheat;
}

.filter.active .filter__toggle {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: wheat;
}

.filter__toggle {
  background-color: var(--color-brand-light-1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 12px;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.filter__slider {
  padding: 0 12px;
  display: flex;
  align-items: center;
  height: 48px;
}

input[type="range"] {
  margin: 0;
  width: 100%;
}

.controls {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

button {
  font-size: 1rem;
  color: white;
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
  border-radius: 5px;
  padding: 6px 10px 5px;
  cursor: pointer;
}

button:hover,
button[disabled] {
  color: var(--color-brand);
  background-color: white;
}

button[disabled] {
  cursor: unset;
}

button:first-child {
  margin-right: 12px;
}
button:last-child {
  width: 10rem;
  margin-left: 12px;
}

.hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  user-select: none;
}
